.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-card);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    width: 100%;
   
}
form input, select
 {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border-grey-30);
    border-radius: 8px;
    font-size: 0,8rem;
    background-color: var(--background-card);
    color: var(--input-text-color);
}
    form input:active,
    form input:focus,
    form select:active,
    form select:focus {
       outline: none;
       box-shadow: 0 0 5px var(--primary-100);
   }

form label {
    font-size: 12px;
    color: var(--seconday-100);
    font-weight: var(--font-medium);
}

.checkbox-group {
  display: flex;
  flex-direction: column; 
  gap: 0.5rem;
  width: 100%;
}

.checkbox-label-wrapper {
  display: flex;
  align-items: center; 
  gap: 0.5rem; 
}


.checkbox-label-wrapper input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}


.checkbox-label-wrapper input[type="checkbox"]:checked {
 accent-color: var(--primary-50);

}


.input-error {

  border-color: var(--input-border-error); 
  background-color: var(--input-background-error);
}

.validation-error {
  color: var(--red-50);
  font-size: 12px;
  padding-top: 0.2rem;

  i {
     margin-right: 6px;
     vertical-align: middle;
  }
}

.modal-overlay {
  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
  background-color: var(--background-card);
  padding: 2rem;
  border-radius: 12px;
  min-width: 300px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);

  p {
   padding-bottom: 1.5rem;
    font-size: 16px;
    color: var(--font-grey-80);
  }

  button{
    padding: 1rem 2rem;

  }

}







