/* BOOKING */

.booking-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width:100%;
    background-color: var(--background-card);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.hero-booking {
  height: 400px;
  margin: 0;
  background-position: center;
}

.header-booking {
  font-size: 45px;

}
.booking-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  background-color:var(--background-hero-booking);
}
.header-date {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--font-grey-100);
}
.booking-container {
  background-color: var(--background-center-screen);
}
.booking-description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  
  a {
    color: var(--font-primary-100);
    font-weight: var(--font-medium);
   
  }
}

.form-center {
 width: 100%;
 padding-left: 4rem;
 padding-right: 4rem;
}

.package-card-booking{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--background-card);
  margin-bottom: 2rem;
  border-radius: 12px;
}
.package-list-booking{
display: grid;
grid-template-columns: repeat(2,  1fr );
gap: 0.2rem;
padding: 1rem;
}
.package-image{
  display: grid;
  place-content: center;
}
.form-text{
  color: var(--font-grey-80);

  a {
    color: var(--font-primary-100);
    text-decoration: underline;
  }
}

/* BOOKING CONFIMATION */

.summary-card {
  
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 0.3rem;
  background-color: var(--background-card);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(242, 108, 249, 0.3);

  h1{
    padding-bottom: 2rem;
  }
span {
  font-size: 25px;
  font-weight: var(--font-medium);
 
}
p{
  color: var(--font-grey-80);
  padding-top: 2rem;
  font-size: 14px;
}

}