.event-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;

  @media (width >= 768px) {

  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
   
}

@media (width >= 1400px) {
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}

}

.event-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 350px;
  background-color: var (--background-card);
  border-radius: 16px;
  padding: 0.5rem;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);



}

.event-card:hover { 
  cursor: pointer;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
}

.event-image {
  width: 100%;
  height: 210px;
  background-color: var(--event-card-image-background);
  object-fit: cover;
  border-radius: 16px;
}

.event-name {
  
  margin: 0;
}
.date {
    font-size: 11px;
    color: var(--font-grey-70);
}
.artist-name,
.description,
.location,

.price {
  font-size: 0.9rem;
  margin: 0;
}