.event-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;

  @media (width >= 768px) {

  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
   
}

@media (width >= 1400px) {
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}

}

.event-card {

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 350px;
  background-color: var(--background-card);
  border-radius: 16px;
  padding: 0.8rem;

}

.event-card:hover {
border: 1px solid var(--border-grey-30);
cursor: pointer;
}

.event-image {
  width: 100%;
  height: 210px;
  background-color: var(--event-card-image-background);
  object-fit: cover;
  border-radius: 16px;
}

.event-name {
  color: var(--font-grey-100);
  font-weight: var(--font-semi-bold);
  font-size: 16px;
}
.date {
    font-size: 11px;
    color: var(--font-grey-70);
    padding-top: 0.5rem;
}

.location{
    font-size: 11px;
    color: var(--font-grey-80);
}

.price {
  align-self: flex-end;
  padding: 1rem;
  font-size: 22px;
  font-weight: var(--font-semi-bold);
  color: var(--font-primary-100);
}