@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './assets/style/event.css';
@import './assets/style/authentication.css';
@import'./assets/style/booking.css';
@import './assets/style/home.css';

*,::before, *::after {
    box-sizing: border-box;
}


:root {
--font-standard: "Inter", sans-serif;

--primary-100: #F26CF9;
--primary-90: #F589FA;
--primary-50: #FCD3FE;
--primary-40: #FCE2FE;
--primary-30: #FDEDFE;
--seconday-110: #1C2346;
--seconday-100: #37437D;
--seconday-90: #5562A2;
--seconday-70: #707DBF;
--seconday-60: #ABB4DD;
--seconday-50: #D3DAF9;
--gray-10:#FFFFFF;
--gray-20:#F7F7F7;
--gray-30:#EDEDED;
--gray-40:#E0E0E1;
--gray-50:#C3C3C4;
--gray-60:#9F9FA1;
--gray-70:#777779;
--gray-80:#636365;
--gray-90:#434345;
--gray-100:#1E1E20;
--cool-grey-10:#EEEFFF;
--cool-grey-20:#E4E5F5;
--cool-grey-30:#DDDEED;
--cool-grey-40:#D1D2E0;
--cool-grey-50:#B0B1BD;
--cool-grey-60:#8F8F99;
--cool-grey-70:#72737A;
--cool-grey-80:#56565C;
--cool-grey-90:#39393D;
--cool-grey-100:#131314;

--yellow-100: #FFCA39;
--yellow-90: #FFEFC3;
--red-50: #E94E77;



--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;
--font-bold: 700;

--font-grey-100: #1E1E20;
--font-seconday-100: #37437D;
--font-primary-100: #F26CF9;
--font-grey-10:#FFFFFF;
--font-grey-70:#72737A;
--font-grey-80:#56565C;
--font-grey-90:#39393D;

--background: #FFFFFF;
--background-side-nav:#EEEFFF;
--background-card:#FFFFFF;
--background-header:#F7F7F7;
--background-center-screen:#F7F7F7;
--background-footer:#F7F7F7;
--background-hero-booking: #ffffff2d;
--background-package-card: #F7F7F7;
--background-dashboard-icon:#F26CF9;

--btn-primary-100: #F26CF9;
--btn-cool-grey-10:#EEEFFF;
--btn-primary-text: #FFFFFF;

--background-btn-secondary:#37437D;
--background-btn-secondary-hover:#5562A2;

--logo-text-color: #1C2346;
--header-text-color: #37437D; 
--header-username-text-color: #1C2346;
--nav-text:#37437D;
--nav-text-active: #F26CF9;
--footer-text-color: #777779;
--price-text-color: #F26CF9;
--description-header:#37437D;
--event-icon: #C3C3C4;
--package-text-grey: #56565C;
--dashboard-icon-text: #FFFFFF;
--dashboard-description-text:#777779;
--dashboard-number-text:#37437D;

--border-grey-30: #EDEDED;
--input-border-error: #E94E77;
--input-background-error: #FDEDFE;

--event-card-image-background:#E0E0E1;


}

html, body {
  
    margin: 0; 
    background-color: var(--background);
    font-size: 16px;
    font-family: var(--font-standard);
    font-style: normal;
}


p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}


.hide {

    display:none;
}
.show {
    display:block;
}


a {
    text-decoration: none;
}

.btn-primary {
    background-color: var(--btn-primary-100);
    color: var(--btn-primary-text);
    border-radius: 30px;
    border: none;
    padding: 1em;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    margin-top: 1rem;
}

.btn-primary:hover,
.btn-primary:focus {
  cursor: pointer;
  background-color: var(--primary-90);
  box-shadow: 0 4px 12px rgba(242, 108, 249, 0.4);
}

.btn-secondary {
     background-color: var(--background-btn-secondary);
    color: var(--btn-primary-text);
    border-radius: 30px;
    border: none;
    padding: 1em;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    margin-top: 1rem;
}
.btn-secondary:hover,
.btn-secondary:focus {
  cursor: pointer;
  background-color: var(--background-btn-secondary-hover);
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-center-screen);
    align-items: center;
    height: 100dvh;
}

.booking-layout {
    margin: 0;
    height: 100dvh;
   
}

.divider {
  height: 1px;
  background-color: var(--border-grey-30);
  margin: 1rem 0;
 
}

.portal-wrapper {
    display: grid;
    margin:0.5rem;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "nav" "main" "footer";
    height: 100dvh;

@media (width >= 768px) {

    grid-template-columns: 80px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "nav header" "nav main" "nav footer";
}

@media (width >= 1400px) {

    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "nav header" "nav main" "nav footer";
}

}

.nav {
    grid-area: nav;
    background-color: var(--background-side-nav);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
     @media (width >= 768px) {
        display: flex;
       
    }
}


.nav-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;

     /* @media (width >= 1400px) {
      
       flex-direction: column;
    } */
     @media (width >= 768px) {
       
     
       flex-direction: column;
    }
    

}

.nav-link {
    display: flex;
    gap: 1rem;
    color: var(--nav-text);
    padding: 0.5rem 0;
    align-items: center;  

   
}

.nav-link i {
    display: flex;
    font-size: 22px;
    font-weight: var(--font-semi-bold);


}

.nav-link span {
    @media (width >= 768px) {
      display: none;
    }
   
@media (width >= 1400px) {
    display: block;
 
}

}

.nav-link.active,
.nav-link:hover {
    color: var(--nav-text-active);
    font-weight: var(--font-semi-bold);
}


.logo {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}

.logo-img {
    height: 25px;
    width: 25px;
}
.logo-text {
    display: none;
    font-size: 24px;
    color: var(--logo-text-color);
    font-weight: var(--font-medium);

    @media (width >= 1400px) {
        display: block;
     }
  
}

header{
    grid-area: header;
    display: none;
    background-color: var(--background-header);
    border-radius: 1rem;
    padding: 1.5rem;
    align-items: center;
    @media (width >= 768px) {
        display: flex;
       
    }
}

.header-title {
    flex:1;
    font-size: 24px;
    color: var(--header-text-color);
    font-weight: var(--font-semi-bold);
}

.not-logged-in {
    display: flex;
    gap: 1rem;

}
.user-header {
    font-size: 14px;
    font-weight: var(--font-semi-bold);
    color: var(--header-username-text-color);
}


.btn-logout{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-btn-secondary);
    border: none;
    width:45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--font-grey-10);
    align-content: center;

    i {

        font-size: 20px;
    }
}
.btn-logout:hover ,
.btn-logout:focus{
    background-color: var(--background-btn-secondary-hover);
}


.logged-in{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    
}

main {
    grid-area: main;
    background-color: var(--background-center-screen);
    border-radius: 1rem;
    padding: 1.5rem;

}

footer {
    grid-area: footer;
    background-color: var(--background-footer);
    border-radius: 1rem;
    padding: 1.5rem;

    p {
        font-size: 12px;
        color: var(--footer-text-color);
        font-weight: var(--font-semi-bold);
    }
}